
@{
    ViewBag.Title = "Index";
}

<h2>B应用首页</h2>
<h3>网站A<a href="http://localhost:63602/">网站A</a></h3>
<h3>网站B<a href="http://localhost:51204/">网站B</a></h3>
<h3>用户认证中心<a href="http://localhost:54845/">用户认证中心</a></h3>
